@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Navbar */
  header {
    @apply mb-4 border-b border-slate-800 text-white;
  }

  nav {
    @apply sticky top-0 flex min-h-[60px] flex-col items-center justify-between gap-4 py-2   md:flex-row md:p-4  md:py-6;
  }

  .avater-img {
    @apply grid h-8 w-8 place-items-center rounded-full text-sm font-bold md:h-10 md:w-10;
  }
  .avater-img span {
    line-height: 0;
  }

  /* Blogs */
  .blog-card {
    @apply flex cursor-pointer flex-col gap-4  rounded-lg border border-slate-800/40 bg-[#030317] p-3 shadow-slate-200/50 transition-all hover:border-blue-900/50 hover:shadow-lg md:flex-row;
  }

  .blog-card > div {
    @apply flex-1;
  }

  .blog-thumb {
    @apply aspect-video max-h-48 rounded-md object-cover;
  }

  /* Sidebar */
  .sidebar-card {
    @apply rounded-lg border border-slate-800/40 p-4  hover:border-slate-800/90;
  }

  .dot {
    @apply relative pl-4 before:absolute before:left-0 before:h-1 before:w-1 before:translate-y-[6px] before:rounded-full before:bg-[#6C757D66] before:content-[''];
  }

  /* Floating Actions */
  .floating-action {
    @apply fixed bottom-10 left-1/2 -translate-x-1/2 rounded-full border border-slate-200/20 bg-slate-800/80 p-4 py-2 shadow-lg shadow-slate-900/60 backdrop-blur-md;
  }

  .floating-action-menus {
    @apply flex gap-6;
  }

  .floating-action-menus li {
    @apply flex cursor-pointer items-center gap-2 transition-all hover:scale-105 hover:opacity-90;
  }

  .floating-action-menus li span {
    @apply text-xs;
  }

  .floating-action-menus li img {
    @apply h-6 w-6;
  }

  /* Tags */
  .tags {
    @apply mx-auto my-6 flex justify-center gap-2;
  }

  .tags li {
    @apply cursor-pointer rounded-md bg-slate-700 p-2 px-4 text-sm transition-all hover:bg-slate-800 hover:ring hover:ring-slate-500;
  }

  /* createBlog */
  .createBlog {
    @apply mx-auto my-8 w-8/12;
  }

  .createBlog input {
    @apply w-full appearance-none border-none bg-transparent pl-0 text-lg font-bold shadow-none outline-none placeholder:text-lg focus:border-none focus:outline-none focus:ring-0 px-1 placeholder:px-2;
  }

  .createBlog textarea {
    @apply w-full appearance-none border-none bg-transparent pl-0 text-lg outline-none  placeholder:text-lg focus:border-none focus:outline-none focus:ring-0;
  }
  .createBlog #tags {
    @apply w-full text-base font-normal text-slate-500 placeholder:text-base placeholder:italic;
  }

  /* Action Modal */

  .action-modal-container {
    @apply absolute right-full top-6 min-w-[200px]  divide-y divide-slate-800 overflow-hidden rounded-md border border-slate-800  bg-slate-900 py-1;
  }

  .action-menu-item {
    @apply flex w-full items-center gap-2 px-4 py-2 text-gray-100 transition-all hover:bg-slate-800;
  }

  /*  My custom styles  */
  .alternative {
    @apply me-2 rounded-lg border border-gray-200 !bg-white px-5 py-2.5 text-sm font-medium !text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700;
  }
  .alternative-dark {
    @apply inline-flex items-center  gap-x-3  rounded-lg !bg-githubDark text-center text-sm  font-medium text-white hover:bg-githubDark/90 focus:outline-none focus:ring-4 focus:ring-githubDark/50 dark:focus:ring-gray-500;
  }
  .alternative-orange {
    @apply rounded-lg !bg-orange-500  text-sm font-medium text-white hover:bg-orange-600 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:focus:ring-orange-900;
  }
  .border-ring {
    @apply border-2 border-transparent text-white focus:outline-none focus:ring-4 focus:ring-githubDark/50 dark:focus:ring-gray-500;
  }
  .input-flow {
    @apply block w-full rounded-md border !border-gray-300 !bg-gray-700 p-2.5 text-xs text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 placeholder:text-xs;
  }
}


.quill .ql-editor {
  margin-bottom:52px;
  min-height:68px;
 }
 